@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300&display=swap');

body {
    background: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    color: white;
}
