@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300&display=swap');

body {
    background: rgb(0, 0, 0);
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.container {
    span:nth-child(1) {
        color: rgb(246, 0, 0);
    }

    span:nth-child(2) {
        color: blue;
    }   

}
// List items in nav bar are in a row
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgb(0, 0, 0);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
    nav {
        ul {
            display: flex;
            list-style: none;
            li {
                margin-left: 20px;
                a {
                    text-decoration: none;
                    color: white;
                    &:hover {
                        color: rgb(246, 0, 0);
                    }
                }
            }
        }
    }
}

h1 {
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(0%, -400%);
    font-size: clamp(2rem, 8vw, 5rem);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    z-index: 1;
    span {
        color: rgb(246, 0, 0);
    }
    span {
        color: rgb(246, 0, 0);
    }
    &:hover {
        color: rgb(246, 0, 0);
    }
}

ul {
    display: flex;
    list-style: none;
    flex-direction: column;

    li {
        margin-left: 20px;
        text-decoration: none;
        color: white;
        cursor: pointer;
        width: fit-content;
        padding: 5px 10px;
        margin: 2px 0px;
        border: 1px solid white;
        border-radius: 5px;
        transition: all 0.1s ease-in-out;
        &:hover {
            color: rgb(246, 0, 0);
            border: 1px solid rgb(246, 0, 0);
        }
    }
}

a {
    text-decoration: none;
    color: rgb(0, 89, 255);
    &:hover {
        color: rgb(255, 255, 255);
    }
}
