@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300&display=swap');

body {
    background: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .contain {
        background-color: rgb(47, 47, 47);
        border-radius: 0 0 1rem 1rem;
        padding: 2rem;
        margin-bottom: 2rem;
        width: clamp(300px, 50%, 600px);

        .username {
            width: 95%;
            padding: 0.5rem;
            border: none;
            border-radius: 0.5rem;
            margin-top: 1rem;
            font-size: 1rem;
            text-align: center;
        }

        .lainaa {
            display: flex;
            flex-direction: column;
            color: rgb(255, 255, 255);
            text-shadow: 2px 2px 2px black;
            text-align: center;
            margin-top: 1rem;
            align-items: center;

            input {
                width: 100%;
                padding: 0.5rem;
                border: none;
                border-radius: 0.5rem;
                margin-top: 1rem;
                font-size: 1rem;
            }

            button {
                width: 100%;
                padding: 0.5rem;
                border: none;
                border-radius: 0.5rem;
                margin-top: 1rem;
                font-size: 1rem;
                background: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                font-weight: bold;
                cursor: pointer;
            }
        }

        .kirjat {
            color: rgb(255, 255, 255);
            text-shadow: 2px 2px 2px black;
            text-align: center;
            margin-top: 1rem;

            ul {
                list-style-type: none;
                padding: 0;
            }
        }

        .lainaukset {
            color: rgb(255, 255, 255);
            text-shadow: 2px 2px 2px black;
            text-align: center;
            margin-top: 1rem;

            // no dots in list
            ul {
                list-style-type: none;
                padding: 0;
            }
        }

        .search-box {
            display: flex;
            flex-direction: column;
            color: rgb(255, 255, 255);
            text-shadow: 2px 2px 2px black;
            text-align: center;
            margin-top: 1rem;
            align-items: center;

            input {
                width: 100%;
                padding: 0.5rem;
                border: none;
                border-radius: 0.5rem;
                margin-top: 1rem;
                font-size: 1rem;
            }

            button {
                width: 100%;
                padding: 0.5rem;
                border: none;
                border-radius: 0.5rem;
                margin-top: 1rem;
                font-size: 1rem;
                background: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}