.form, .books, .users {
	background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    margin: auto;
	width: 90%;
	padding: 1rem;
	color: white;
	text-shadow: 2px 2px 2px black;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease-in-out;
	form {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		transition: all 0.2s ease-in-out;
	}
	p {
		margin-top: 0.6em;
		letter-spacing: 2px;
	}
	.formHeader {
		width: 100%;
		text-align: center;
	}
	input {
		padding: 0.6rem;
		border: none;
		border-radius: 0.6rem;
		font-size: 1rem;
		text-indent: 5px;
		font-family: 'Poppins', sans-serif;
		transition: all 0.2s ease-in-out;
		&:hover {
			box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
		}
		&:focus {
			box-shadow: none;
			outline: 1px solid black;
		}
	}
	button {
		width: fit-content;
		padding: 0.5rem;
		border: none;
		border-radius: 0.5rem;
		margin-top: 1rem;
		font-size: 1rem;
		background: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		font-weight: bold;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
		&:hover {
			transform: scale(1.05);
			// Multiple cool transition effects for the button
			box-shadow: 0 0 6px rgba(255, 255, 255, 0.5); 
		}
	}
}

.books {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 10px;
	height: calc(470px * 2.5);
	overflow-y: scroll;
	border-bottom: 1px solid white;
	border-top: 6px solid white;
	padding: 0;
	scrollbar-width: thin;
	scrollbar-color: rgb(255, 255, 255) rgba(0, 0, 0, 0.5);
	scroll-behavior: smooth;
	&::-webkit-scrollbar {
		width: 12px;
	}
	&::-webkit-scrollbar-track {
		background: rgba(0, 0, 0, 0.5);
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgb(255, 255, 255);
		border-radius: 6px;
		border: 3px solid rgba(0, 0, 0, 0.5);
	}
	.headerContainer {
		width: 100%;
		height: 70px;
		border-radius: 0.5rem;
		text-align: center;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));
		backdrop-filter: blur(5px);
		position: sticky;
		top: 0px;
		transform: translateY(-1px);
	}
	.book {
		width: clamp(250px, 30%, 80%);
		height: fit-content;
		margin: 0.6rem auto 0.6rem auto;
		padding: 0.8rem 0.5rem 0.8rem 0.5rem;
		border-radius: 0.5rem;
		background: rgba(0, 0, 0, 0.5);
		transition: all 0.2s ease-in-out;
		overflow-wrap: break-word;
		display: grid;
		grid-template-rows: 30px 300pxfr 90px 30px;
		// More grid styling
		grid-template-columns: 1fr;
		row-gap: 0px;
		img {
			aspect-ratio: 1/1.5;
			width: 6em;
			object-fit: cover;
			border-radius: 0.5rem;
			margin: 0 auto 0 auto;
		}
		h2 {
			margin: 0;
			padding: 0;
			font-size: 1.5rem;
			font-weight: bold;
			text-align: center;
			height: fit-content;
		}
		h3 {
			margin: 0;
			padding: 0;
			font-size: 1.5rem;
			font-weight: bold;
			text-align: center;
			height: fit-content;
		}
		h4 {
			margin: 0;
			padding: 0;
			font-size: 1.2rem;
			font-weight: bold;
			text-align: center;
			height: fit-content;
		}
		.buttonContainer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
		}
		button {
			width: 45%;
			height: fit-content;
			padding: 0.5rem;
			border: none;
			border-radius: 0.5rem;
			margin-top: 1rem;
			font-size: 1rem;
			background: rgb(255, 255, 255);
			color: rgb(0, 0, 0);
			font-weight: bold;
			cursor: pointer;

			transition: all 0.2s ease-in-out;

			&:hover {
				transform: scale(1.05);
				// Multiple cool transition effects for the button
				box-shadow: 0 0 6px rgba(255, 255, 255, 0.5); 
			}

			&:focus {
				box-shadow: inset 0 10px 40px rgba(255, 255, 255, 0.5);
			}

			&:active {
				transform: scale(1);
				background-color: rgb(189, 189, 189);
			}
		}

		svg {
			width: 5.5em;
			height: 5.5em;
			transition: all 0.2s ease-in-out;
			&:hover {
				transform: scale(1.1);
				box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
			}
		}
	}
}

.users {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 10px;
	border-radius: 1.2em 1.2em 0 0;
	.usersHeader {
		width: 100%;
		text-align: center;
	}
	.user {
		width: clamp(250px, 30%, 80%);
		margin: 0.6rem auto 0.6rem auto;
		padding: 0.8rem 0.5rem 0.8rem 0.5rem;
		border-radius: 0.5rem;
		background: rgba(0, 0, 0, 0.5);
		transition: all 0.2s ease-in-out;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		overflow-wrap: break-word;
		.buttonContainer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
		}
		button {
			width: 45%;
			height: fit-content;
			padding: 0.5rem;
			border: none;
			border-radius: 0.5rem;
			margin-top: 1rem;
			font-size: 1rem;
			background: rgb(255, 255, 255);
			color: rgb(0, 0, 0);
			font-weight: bold;
			cursor: pointer;
		}
	}
	#userSearch {
		width: 100%;
		padding: 0.5rem;
		border: none;
		border-radius: 0.5rem;
		margin-top: 1rem;
		font-size: 1rem;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 616px) {
	.book {
		width: 100% !important;
	}
}

@media screen and (max-width: 500px) {
	.form {
		form {
			width: 100% !important;
		}
	}
}